# **Read the CSV File with PySpark**

In [ ]:
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,918 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:9 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,161 kB]
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:11 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,518 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,575 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [5,290 kB]
Get:15 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,773 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,270 kB]
Get:18 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,207 kB]
Get:19 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [5,103 kB]
Fetched 34.2 MB in 8s (4,106 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"

In [ ]:
!pip install pyspark
!pip install py4j

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: py4j in /usr/local/lib/python3.11/dist-packages (0.10.9.7)

In [ ]:
!unzip /content/drive/MyDrive/MachineLearning/Loan_default.csv.zip

Archive:  /content/drive/MyDrive/MachineLearning/Loan_default.csv.zip
  inflating: Loan_default.csv

In [ ]:
from pyspark.sql import SparkSession

# Initialize Spark session (if not already done)
spark = SparkSession.builder \
    .appName("LoanDefaultAnalysis") \
    .getOrCreate()

# Read the CSV file
df = spark.read.csv(r"/content/Loan_default.csv", header=True, inferSchema=True)

# Show the schema and first few rows
df.printSchema()
df.show(5)

root
 |-- LoanID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- Education: string (nullable = true)
 |-- EmploymentType: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- HasMortgage: string (nullable = true)
 |-- HasDependents: string (nullable = true)
 |-- LoanPurpose: string (nullable = true)
 |-- HasCoSigner: string (nullable = true)
 |-- Default: integer (nullable = true)

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0|
|EY08JDHTZP| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
only showing top 5 rows

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Data Cleaning**

In [ ]:
df = df.drop("LoanID")
df.show(5)

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|
| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|
| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|
| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0|
| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import round,col

# Create Debt-to-Income feature
df = df.withColumn("DebtAmount", round(col("Income") * col("DTIRatio"), 2))

### Checking Missing Value

In [ ]:
from pyspark.sql.functions import col, sum as spark_sum

# Count null values in each column
null_counts = df.select([spark_sum(col(c).isNull().cast("int")).alias(c) for c in df.columns])
null_counts.show()

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+---------+--------------+-------------+-----------+-------------+-----------+-----------+-------+----------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|DebtAmount|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+---------+--------------+-------------+-----------+-------------+-----------+-----------+-------+----------+
|  0|     0|         0|          0|             0|             0|           0|       0|       0|        0|             0|            0|          0|            0|          0|          0|      0|         0|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+---------+--------------+-------------+-----------+-------------+-----------+-----------+-------+----------+

### Checking for Duplicate Rows

In [ ]:
total_rows = df.count()
distinct_rows = df.distinct().count()

print(f"Total rows: {total_rows}")
print(f"Distinct rows: {distinct_rows}")
print(f"Duplicate rows: {total_rows - distinct_rows}")

Total rows: 255347
Distinct rows: 255347
Duplicate rows: 0

### converting binary categorical columns (with "Yes"/"No" values) into numerical columns (1/0 integers).

In [ ]:
from pyspark.sql.functions import when,col

binary_cols = ["HasMortgage", "HasDependents", "HasCoSigner"]
for col in binary_cols:
    df = df.withColumn(col,
                      when(df[col] == "Yes", 1)
                      .otherwise(0)
                      .cast("integer"))

In [ ]:
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- Education: string (nullable = true)
 |-- EmploymentType: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- HasMortgage: integer (nullable = false)
 |-- HasDependents: integer (nullable = false)
 |-- LoanPurpose: string (nullable = true)
 |-- HasCoSigner: integer (nullable = false)
 |-- Default: integer (nullable = true)
 |-- DebtAmount: double (nullable = true)

In [ ]:
df.select(["LoanPurpose"]).distinct().show()

+-----------+
|LoanPurpose|
+-----------+
|  Education|
|       Home|
|      Other|
|       Auto|
|   Business|
+-----------+

In [ ]:
from pyspark.sql.functions import col, when

loan_purposes = [row.LoanPurpose for row in df.select("LoanPurpose").distinct().collect()]

for purpose in loan_purposes:
    df = df.withColumn(f"LoanPurpose_{purpose}", when(col("LoanPurpose") == purpose, 1).otherwise(0))

df.show(5)

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|DebtAmount|LoanPurpose_Education|LoanPurpose_Home|LoanPurpose_Other|LoanPurpose_Auto|LoanPurpose_Business|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+
| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|          1|            1|      Other|          1|      0|  37837.36|                    0|               0|                1|               0|                   0|
| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|          0|            0|      Other|          1|      0|  34293.76|                    0|               0|                1|               0|                   0|
| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|          1|            1|       Auto|          0|      1|  26104.48|                    0|               0|                0|               1|                   0|
| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|          0|            0|   Business|          0|      0|   7293.99|                    0|               0|                0|               0|                   1|
| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|          0|            1|       Auto|          0|      0|  14919.01|                    0|               0|                0|               1|                   0|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+
only showing top 5 rows

In [ ]:
df.select(["MaritalStatus"]).distinct().show()

+-------------+
|MaritalStatus|
+-------------+
|      Married|
|     Divorced|
|       Single|
+-------------+

In [ ]:
df = df.withColumn("MaritalStatus_Married",when(col("MaritalStatus") == "Married", 1).otherwise(0))
df = df.withColumn("MaritalStatus_Single",when(col("MaritalStatus") == "Single", 1).otherwise(0))
df = df.withColumn("MaritalStatus_Divorced",when(col("MaritalStatus") == "Divorced", 1).otherwise(0))

In [ ]:
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- Education: string (nullable = true)
 |-- EmploymentType: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- HasMortgage: integer (nullable = false)
 |-- HasDependents: integer (nullable = false)
 |-- LoanPurpose: string (nullable = true)
 |-- HasCoSigner: integer (nullable = false)
 |-- Default: integer (nullable = true)
 |-- DebtAmount: double (nullable = true)
 |-- LoanPurpose_Education: integer (nullable = false)
 |-- LoanPurpose_Home: integer (nullable = false)
 |-- LoanPurpose_Other: integer (nullable = false)
 |-- LoanPurpose_Auto: integer (nullable = false)
 |-- LoanPurpose_Business: integer (nullable = false)
 |-- MaritalStatus_Married: integer (nullable = false)
 |-- MaritalStatus_Single: integer (nullable = false)
 |-- MaritalStatus_Divorced: integer (nullable = false)

In [ ]:
df.select(["EmploymentType"]).distinct().show()

+--------------+
|EmploymentType|
+--------------+
|     Part-time|
| Self-employed|
|     Full-time|
|    Unemployed|
+--------------+

In [ ]:
from pyspark.sql.functions import when, col

df = df.withColumn("EmploymentType",
                   when(col("EmploymentType") == "Unemployed", 0)
                   .when(col("EmploymentType") == "Part-time", 1)
                   .when(col("EmploymentType") == "Full-time", 2)
                   .when(col("EmploymentType") == "Self-employed", 3)
                   .otherwise(None)
                   .cast("integer"))

In [ ]:
df.show()

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|DebtAmount|LoanPurpose_Education|LoanPurpose_Home|LoanPurpose_Other|LoanPurpose_Auto|LoanPurpose_Business|MaritalStatus_Married|MaritalStatus_Single|MaritalStatus_Divorced|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+
| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|             2|     Divorced|          1|            1|      Other|          1|      0|  37837.36|                    0|               0|                1|               0|                   0|                    0|                   0|                     1|
| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|             2|      Married|          0|            0|      Other|          1|      0|  34293.76|                    0|               0|                1|               0|                   0|                    1|                   0|                     0|
| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|             0|     Divorced|          1|            1|       Auto|          0|      1|  26104.48|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|
| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|             2|      Married|          0|            0|   Business|          0|      0|   7293.99|                    0|               0|                0|               0|                   1|                    1|                   0|                     0|
| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|             0|     Divorced|          0|            1|       Auto|          0|      0|  14919.01|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|
| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|High School|             0|       Single|          1|            0|   Business|          1|      1|    9029.8|                    0|               0|                0|               0|                   1|                    0|                   1|                     0|
| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16| Bachelor's|             0|       Single|          1|            0|       Home|          1|      0|  17790.08|                    0|               1|                0|               0|                   0|                    0|                   1|                     0|
| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|        PhD|             2|      Married|          0|            0|       Home|          1|      0|  54524.86|                    0|               1|                0|               0|                   0|                    1|                   0|                     0|
| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2| Bachelor's|             3|     Divorced|          1|            0|  Education|          0|      1|    8410.6|                    1|               0|                0|               0|                   0|                    0|                   0|                     1|
| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School|             3|      Married|          1|            0|      Other|          1|      0|  43818.72|                    0|               0|                1|               0|                   0|                    1|                   0|                     0|
| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|             0|      Married|          0|            0|  Education|          0|      0|  32307.18|                    1|               0|                0|               0|                   0|                    1|                   0|                     0|
| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|             2|     Divorced|          0|            0|  Education|          1|      1|  119381.6|                    1|               0|                0|               0|                   0|                    0|                   0|                     1|
| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|   Master's|             2|     Divorced|          1|            0|       Auto|          1|      0|  10469.25|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|
| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|High School|             0|       Single|          0|            0|       Auto|          1|      0|   85811.5|                    0|               0|                0|               1|                   0|                    0|                   1|                     0|
| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|             1|     Divorced|          0|            0|       Home|          0|      0|   27939.8|                    0|               1|                0|               0|                   0|                    0|                   0|                     1|
| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|   Master's|             0|      Married|          1|            0|       Auto|          0|      0|  65916.96|                    0|               0|                0|               1|                   0|                    1|                   0|                     0|
| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|        PhD|             0|       Single|          1|            0|       Home|          0|      0|  33517.12|                    0|               1|                0|               0|                   0|                    0|                   1|                     0|
| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|   Master's|             3|       Single|          1|            0|      Other|          0|      0|   21789.9|                    0|               0|                1|               0|                   0|                    0|                   1|                     0|
| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17| Bachelor's|             3|     Divorced|          1|            0|  Education|          0|      1|   6922.06|                    1|               0|                0|               0|                   0|                    0|                   0|                     1|
| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|High School|             3|       Single|          1|            0|      Other|          1|      0|  48133.41|                    0|               0|                1|               0|                   0|                    0|                   1|                     0|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+
only showing top 20 rows

In [ ]:
df = df.drop("MaritalStatus","LoanPurpose")

In [ ]:
df.show()

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|HasMortgage|HasDependents|HasCoSigner|Default|DebtAmount|LoanPurpose_Education|LoanPurpose_Home|LoanPurpose_Other|LoanPurpose_Auto|LoanPurpose_Business|MaritalStatus_Married|MaritalStatus_Single|MaritalStatus_Divorced|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+
| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|             2|          1|            1|          1|      0|  37837.36|                    0|               0|                1|               0|                   0|                    0|                   0|                     1|
| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|             2|          0|            0|          1|      0|  34293.76|                    0|               0|                1|               0|                   0|                    1|                   0|                     0|
| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|             0|          1|            1|          0|      1|  26104.48|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|
| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|             2|          0|            0|          0|      0|   7293.99|                    0|               0|                0|               0|                   1|                    1|                   0|                     0|
| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|             0|          0|            1|          0|      0|  14919.01|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|
| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|High School|             0|          1|            0|          1|      1|    9029.8|                    0|               0|                0|               0|                   1|                    0|                   1|                     0|
| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16| Bachelor's|             0|          1|            0|          1|      0|  17790.08|                    0|               1|                0|               0|                   0|                    0|                   1|                     0|
| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|        PhD|             2|          0|            0|          1|      0|  54524.86|                    0|               1|                0|               0|                   0|                    1|                   0|                     0|
| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2| Bachelor's|             3|          1|            0|          0|      1|    8410.6|                    1|               0|                0|               0|                   0|                    0|                   0|                     1|
| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School|             3|          1|            0|          1|      0|  43818.72|                    0|               0|                1|               0|                   0|                    1|                   0|                     0|
| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|             0|          0|            0|          0|      0|  32307.18|                    1|               0|                0|               0|                   0|                    1|                   0|                     0|
| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|             2|          0|            0|          1|      1|  119381.6|                    1|               0|                0|               0|                   0|                    0|                   0|                     1|
| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|   Master's|             2|          1|            0|          1|      0|  10469.25|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|
| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|High School|             0|          0|            0|          1|      0|   85811.5|                    0|               0|                0|               1|                   0|                    0|                   1|                     0|
| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|             1|          0|            0|          0|      0|   27939.8|                    0|               1|                0|               0|                   0|                    0|                   0|                     1|
| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|   Master's|             0|          1|            0|          0|      0|  65916.96|                    0|               0|                0|               1|                   0|                    1|                   0|                     0|
| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|        PhD|             0|          1|            0|          0|      0|  33517.12|                    0|               1|                0|               0|                   0|                    0|                   1|                     0|
| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|   Master's|             3|          1|            0|          0|      0|   21789.9|                    0|               0|                1|               0|                   0|                    0|                   1|                     0|
| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17| Bachelor's|             3|          1|            0|          0|      1|   6922.06|                    1|               0|                0|               0|                   0|                    0|                   0|                     1|
| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|High School|             3|          1|            0|          1|      0|  48133.41|                    0|               0|                1|               0|                   0|                    0|                   1|                     0|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+
only showing top 20 rows

In [ ]:
df.select(["Education"]).distinct().show()

+-----------+
|  Education|
+-----------+
|High School|
|        PhD|
| Bachelor's|
|   Master's|
+-----------+

In [ ]:
df = df.withColumn("Education_HighSchool",when(col("Education") == "High School", 1).otherwise(0))
df = df.withColumn("Education_Bachelor",when(col("Education") == "Bachelor's", 1).otherwise(0))
df = df.withColumn("Education_Master",when(col("Education") == "Master's", 1).otherwise(0))
df = df.withColumn("Education_PhD",when(col("Education") == "PhD", 1).otherwise(0))

In [ ]:
df.show(5)

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+--------------------+------------------+----------------+-------------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|HasMortgage|HasDependents|HasCoSigner|Default|DebtAmount|LoanPurpose_Education|LoanPurpose_Home|LoanPurpose_Other|LoanPurpose_Auto|LoanPurpose_Business|MaritalStatus_Married|MaritalStatus_Single|MaritalStatus_Divorced|Education_HighSchool|Education_Bachelor|Education_Master|Education_PhD|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+--------------------+------------------+----------------+-------------+
| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|             2|          1|            1|          1|      0|  37837.36|                    0|               0|                1|               0|                   0|                    0|                   0|                     1|                   0|                 1|               0|            0|
| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|             2|          0|            0|          1|      0|  34293.76|                    0|               0|                1|               0|                   0|                    1|                   0|                     0|                   0|                 0|               1|            0|
| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|             0|          1|            1|          0|      1|  26104.48|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|                   0|                 0|               1|            0|
| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|             2|          0|            0|          0|      0|   7293.99|                    0|               0|                0|               0|                   1|                    1|                   0|                     0|                   1|                 0|               0|            0|
| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|             0|          0|            1|          0|      0|  14919.01|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|                   0|                 1|               0|            0|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+--------------------+------------------+----------------+-------------+
only showing top 5 rows

In [ ]:
df = df.drop("Education")

In [ ]:
df.show(5)

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+--------------------+------------------+----------------+-------------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|EmploymentType|HasMortgage|HasDependents|HasCoSigner|Default|DebtAmount|LoanPurpose_Education|LoanPurpose_Home|LoanPurpose_Other|LoanPurpose_Auto|LoanPurpose_Business|MaritalStatus_Married|MaritalStatus_Single|MaritalStatus_Divorced|Education_HighSchool|Education_Bachelor|Education_Master|Education_PhD|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+--------------------+------------------+----------------+-------------+
| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44|             2|          1|            1|          1|      0|  37837.36|                    0|               0|                1|               0|                   0|                    0|                   0|                     1|                   0|                 1|               0|            0|
| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|             2|          0|            0|          1|      0|  34293.76|                    0|               0|                1|               0|                   0|                    1|                   0|                     0|                   0|                 0|               1|            0|
| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|             0|          1|            1|          0|      1|  26104.48|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|                   0|                 0|               1|            0|
| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|             2|          0|            0|          0|      0|   7293.99|                    0|               0|                0|               0|                   1|                    1|                   0|                     0|                   1|                 0|               0|            0|
| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73|             0|          0|            1|          0|      0|  14919.01|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|                   0|                 1|               0|            0|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+--------------------+------------------+----------------+-------------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- MonthsEmployed: integer (nullable = true)
 |-- NumCreditLines: integer (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- LoanTerm: integer (nullable = true)
 |-- DTIRatio: double (nullable = true)
 |-- EmploymentType: integer (nullable = true)
 |-- HasMortgage: integer (nullable = false)
 |-- HasDependents: integer (nullable = false)
 |-- HasCoSigner: integer (nullable = false)
 |-- Default: integer (nullable = true)
 |-- DebtAmount: double (nullable = true)
 |-- LoanPurpose_Education: integer (nullable = false)
 |-- LoanPurpose_Home: integer (nullable = false)
 |-- LoanPurpose_Other: integer (nullable = false)
 |-- LoanPurpose_Auto: integer (nullable = false)
 |-- LoanPurpose_Business: integer (nullable = false)
 |-- MaritalStatus_Married: integer (nullable = false)
 |-- MaritalStatus_Single: integer (nullable = false)
 |-- MaritalStatus_Divorced: integer (nullable = false)
 |-- Education_HighSchool: integer (nullable = false)
 |-- Education_Bachelor: integer (nullable = false)
 |-- Education_Master: integer (nullable = false)
 |-- Education_PhD: integer (nullable = false)

In [ ]:
df.show()

+---+------+----------+-----------+--------------+--------------+------------+--------+--------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+--------------------+------------------+----------------+-------------+
|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|EmploymentType|HasMortgage|HasDependents|HasCoSigner|Default|DebtAmount|LoanPurpose_Education|LoanPurpose_Home|LoanPurpose_Other|LoanPurpose_Auto|LoanPurpose_Business|MaritalStatus_Married|MaritalStatus_Single|MaritalStatus_Divorced|Education_HighSchool|Education_Bachelor|Education_Master|Education_PhD|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+--------------------+------------------+----------------+-------------+
| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44|             2|          1|            1|          1|      0|  37837.36|                    0|               0|                1|               0|                   0|                    0|                   0|                     1|                   0|                 1|               0|            0|
| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|             2|          0|            0|          1|      0|  34293.76|                    0|               0|                1|               0|                   0|                    1|                   0|                     0|                   0|                 0|               1|            0|
| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|             0|          1|            1|          0|      1|  26104.48|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|                   0|                 0|               1|            0|
| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|             2|          0|            0|          0|      0|   7293.99|                    0|               0|                0|               0|                   1|                    1|                   0|                     0|                   1|                 0|               0|            0|
| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73|             0|          0|            1|          0|      0|  14919.01|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|                   0|                 1|               0|            0|
| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|             0|          1|            0|          1|      1|    9029.8|                    0|               0|                0|               0|                   1|                    0|                   1|                     0|                   1|                 0|               0|            0|
| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16|             0|          1|            0|          1|      0|  17790.08|                    0|               1|                0|               0|                   0|                    0|                   1|                     0|                   0|                 1|               0|            0|
| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|             2|          0|            0|          1|      0|  54524.86|                    0|               1|                0|               0|                   0|                    1|                   0|                     0|                   0|                 0|               0|            1|
| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2|             3|          1|            0|          0|      1|    8410.6|                    1|               0|                0|               0|                   0|                    0|                   0|                     1|                   0|                 1|               0|            0|
| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|             3|          1|            0|          1|      0|  43818.72|                    0|               0|                1|               0|                   0|                    1|                   0|                     0|                   1|                 0|               0|            0|
| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|             0|          0|            0|          0|      0|  32307.18|                    1|               0|                0|               0|                   0|                    1|                   0|                     0|                   1|                 0|               0|            0|
| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|             2|          0|            0|          1|      1|  119381.6|                    1|               0|                0|               0|                   0|                    0|                   0|                     1|                   0|                 0|               0|            1|
| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|             2|          1|            0|          1|      0|  10469.25|                    0|               0|                0|               1|                   0|                    0|                   0|                     1|                   0|                 0|               1|            0|
| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|             0|          0|            0|          1|      0|   85811.5|                    0|               0|                0|               1|                   0|                    0|                   1|                     0|                   1|                 0|               0|            0|
| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|             1|          0|            0|          0|      0|   27939.8|                    0|               1|                0|               0|                   0|                    0|                   0|                     1|                   0|                 0|               1|            0|
| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|             0|          1|            0|          0|      0|  65916.96|                    0|               0|                0|               1|                   0|                    1|                   0|                     0|                   0|                 0|               1|            0|
| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|             0|          1|            0|          0|      0|  33517.12|                    0|               1|                0|               0|                   0|                    0|                   1|                     0|                   0|                 0|               0|            1|
| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|             3|          1|            0|          0|      0|   21789.9|                    0|               0|                1|               0|                   0|                    0|                   1|                     0|                   0|                 0|               1|            0|
| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17|             3|          1|            0|          0|      1|   6922.06|                    1|               0|                0|               0|                   0|                    0|                   0|                     1|                   0|                 1|               0|            0|
| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|             3|          1|            0|          1|      0|  48133.41|                    0|               0|                1|               0|                   0|                    0|                   1|                     0|                   1|                 0|               0|            0|
+---+------+----------+-----------+--------------+--------------+------------+--------+--------+--------------+-----------+-------------+-----------+-------+----------+---------------------+----------------+-----------------+----------------+--------------------+---------------------+--------------------+----------------------+--------------------+------------------+----------------+-------------+
only showing top 20 rows

### We use coalesce() to get a single file

In [ ]:
df.coalesce(1).write.csv("spark_cleaned_data.csv", header=True)

### Things done in Spark :
1. Checked for missing value
2. Checked for duplicate rows
3. converted binary categorical columns (with "Yes"/"No" values) into numerical columns (1/0 integers).

In [ ]:
# Convert Spark DataFrame to Pandas DataFrame
pandas_df = df.toPandas()

# Export Pandas DataFrame to Excel
pandas_df.to_excel("spark_cleaned_data.xlsx", index=False)